* {
    font-family: 'Helvetica', 'Verdana', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

/* HEADER SECTION STYLING START */

.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.navbar {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 250px;
    margin-right: 250px;
}

.navbar .logo {
    font-size: 24px;
}

.navbar .links {
    font-size: 18px;
}

.links {
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.hero {
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
}

.hero-content {
    margin-right: 100px;
}

.main-text {
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

.sub-text {
    font-size: 18px;
    margin: 20px 0px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    border: none;
}
.hero-img {
    max-width: 720px;
    max-height: 720px;
}


/* HEADER SECTION STYLING FIN */




/* INFO SECTION STYLING START */

.info {
    background-color: #ffffff;
    margin-bottom: 100px;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 160px;
}

.info-heading {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    margin-top: 80px;
    margin-bottom: 80px;
}

.info-img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 10px;
}

.info-txt {
    max-width: 200px;
    text-align: center;
    margin-top: 15px;
    color: #1f2937;
    font-size: 18px;
}

.image {
    display: block;
    flex-wrap: wrap;
    text-align: center;
}

/* INFO SECTION STYLING FIN */




/* QUOTE SECTION STYLING START */

.quote {
    background-color: #e5e7eb;
    text-align: center;
    display: block;
    flex-wrap: wrap;
}

.quote-content {
    padding: 120px;
}

.quote-txt {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    margin: 0px;
}

.quote-by {
    font-size: 30px;
    color: #1f2937;
    padding-left: 1000px;
}

/* INFO SECTION STYLING FIN */


/*CTA SECTION STYLING START */

.box {
    background-color: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 350px;
    padding: 30px;
    color: #e5e7eb;
    border-radius: 10px;
}

.cta-content {
    margin-left: 50px;
}

.cta-button {
    margin-left: auto;
    margin-right: 50px;
}

.cta-btn {
    border: 2px solid #e5e7eb;
}

/*CTA SECTION STYLING FIN */


/*FOOTER SECTION STYLING START */

.footer {
    margin-top: auto;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #e5e7eb;
}